* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
.app-body {
  overflow: hidden;
  .app-content {
    overflow: auto;
    width: 100vw;
    min-height: 85vh;
    padding: 40px 0;
    background-color: rgb(161, 156, 156);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .demo-name {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .footer {
    width: 100vw;
    height: 15vh;
    background-color: rgb(179, 175, 175);
    text-align: center;
    line-height: 163px;
    font-weight: bold;
    user-select: none;
  }
  .form {
    label {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    input,
    textarea,
    select {
      width: 100%;
      height: 4rem;
      padding: 0 10px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #e7e0e0;
      margin-bottom: 10px;
      font-size: 1.5rem;
      &:focus {
        // border: 1px solid #4cade6;
        box-shadow: 0 0 2px 2px #c284fc;
      }
    }
    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 8rem;
      padding: 10px 10px;
    }
    select {
      cursor: pointer;
      option {
        display: block;
        width: 100%;
        height: 3rem;
        padding: 10px;
      }
    }
  }
  .btn {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    &:disabled {
      cursor: default;
      background-color: #c284fc;
      color: #666666;
    }
  }
  .scroll-bar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 15px;
  }
  .scroll-bar::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: transparent;
  }
  .scroll-bar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: transparent;
  }
}
